body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: royalblue;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.news-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
}

.news-item h2 {
    margin-top: 0;
}

footer {
    color: white;
    padding: 10px 0;
    text-align: center;
}

.paging-bar {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.paging-bar li {
    display: inline;
}

.paging-bar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:royalblue;
}

.paging-bar a:hover {
    background-color: #777;
}